/docsrc/gen/
/docs_build/
/materialweb/.coverage


# git

*.orig


# python

*.pyc
/*.egg-info/
/.eggs/
/build/
/dist/
/.virtualenv/
/python_modules
/requirements.txt


# waf

/.BUILD/
/.lock-waf_*


# vim

*.swo
*.swp
