include materialweb/README.rst
recursive-include materialweb/docs *
recursive-include materialweb/static *
exclude run
exclude wscript
exclude requirements.txt
exclude build.yml
exclude .git*
exclude MANIFEST.in
prune etc
prune lib
